<div ngClass="line"></div>
<footer>
  <p>
    Copyright © 2017
    <a href="https://juninhocruzg3.github.io/" title="Cruz Jr">CRUZ JR</a>
    | All rights are reserved.
  </p>

  <br>

  <div>
    Icon made by:
    <ul>
      <li>
        <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>
        (Cart Icon)
      </li>
      <li>
        <a href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
        (Search Icon)
      </li>
      <li>
        <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a>
        (Home Icon)
      </li>
      <li>
        <a href="http://www.freepik.com" title="Freepik">Freepik</a>
        (Movie Genre Icon)
      </li>
    </ul>
    from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    is licensed by
      <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
  </div>
</footer>
