<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <div
      (click)="menu.isOpened? menu.close():menu.open()"
      class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <app-logo></app-logo>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <a class="nav-item hover-icon">
        <img src="../../../assets/ic_search.svg"/>
      </a>

      <app-cartbar></app-cartbar>
    </div>
  </div>
</nav>
