<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container animated fadeIn">
      <h1 class="title">
        You think GAMES,<br>You think SUPERSTORE
      </h1>
      <h2 class="subtitle">
        The best games of the moments
      </h2>
    </div>
  </div>
</section>
