/* You can add global styles to this file, and also import other style files */

// setting primary font
//$family-serif: ""
//$family-primary: $family-serif

// setting
//$

// setting primary color
$primary: #f15b27

@import "~bulma"
@import "~animate.css"

body
  background-color: #EBEBEC
  min-height: 100vh

span.icon
  margin-right: 5px
  display: inline-block

.hover-icon:hover
  opacity: 0.9
  background-color: rgba(0,0,0,0.05)
