<aside
  [ngClass]="{
    'is-hidden': !menu.isClicked,
    'fadeIn': menu.isOpened,
    'fadeOut': !menu.isOpened
  }"
  class="menu animated">

  <span
    class="animated"
    [ngClass]="{
      'is-hidden': !menu.isClicked,
      'fadeIn': menu.isOpened,
      'fadeOut': !menu.isOpened
    }"
    (click)="menu.close()">

  </span>

  <div
    [ngClass]="{
    'is-hidden': !menu.isClicked,
    'fadeInLeftBig': menu.isOpened,
    'fadeOutLeftBig': !menu.isOpened
  }"
    class="menu animated my-menu">

    <div *ngFor="let option of menu.options">
      <p class="menu-label">
        <img src="../../..{{option.icon}}"> {{ option.name }}
      </p>

    <ul class="menu-list">
      <li *ngFor="let item of option.values">
        <a routerLink="/products/seila/{{item.id}}">{{ item.name }}</a>
      </li>
    </ul>
    </div>

    <!--<p class="menu-label">-->
      <!--General-->
    <!--</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Dashboard</a></li>-->
      <!--<li><a>Customers</a></li>-->
    <!--</ul>-->
    <!--<p class="menu-label">-->
      <!--Administration-->
    <!--</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Team Settings</a></li>-->
      <!--<li>-->
        <!--<a class="is-active">Manage Your Team</a>-->
        <!--<ul>-->
          <!--<li><a>Members</a></li>-->
          <!--<li><a>Plugins</a></li>-->
          <!--<li><a>Add a member</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <!--<li><a>Invitations</a></li>-->
      <!--<li><a>Cloud Storage Environment Settings</a></li>-->
      <!--<li><a>Authentication</a></li>-->
    <!--</ul>-->
    <!--<p class="menu-label">-->
      <!--Transactions-->
    <!--</p>-->
    <!--<ul class="menu-list">-->
      <!--<li><a>Payments</a></li>-->
      <!--<li><a>Transfers</a></li>-->
      <!--<li><a>Balance</a></li>-->
    <!--</ul>-->
  </div>
</aside>
