aside
  position: fixed
  width: 100vw
  height: 100%
  z-index: 10

aside .my-menu
  position: fixed
  height: 100%
  width: 300px
  background-color: white
  padding: 20px
  overflow-y: scroll

aside .my-menu div
  margin-top: 20px

aside span
  position: inherit
  background-color: rgba(0,0,0,0.5)
  height: 100vh
  width: 100vw

img
  width: 20px
  height: 20px
  margin-right: 10px

p
  display: flex
  flex-direction: row
  justify-items: center

@media screen and (max-width: 500px)
  aside .my-menu
    width: 100vw

  aside span
    width: 0
